[Unit]
Description=Mount NFS share vhost.lab.moseleynet.net:/ext on /ext
After=network-online.target
Wants=network-online.target
Requires=network.target

[Mount]
What=vhost.lab.moseleynet.net:/ext
Where=/ext
Type=nfs
Options=defaults,nofail,x-systemd.automount,_netdev,timeo=5,retrans=1

[Install]
WantedBy=multi-user.target
