[Unit]
Description=Email logs when %i fails

[Service]
Type=oneshot
Environment="MAIL_TO=drew.moseley@gmail.com"
ExecStart=/usr/libexec/systemd-notify-failure.sh %i
