[Unit]
Description=Bind mount /home/dmoseley/work to /work
ConditionPathExists=/home/dmoseley/work
RequiresMountsFor=/home/dmoseley/work

[Mount]
What=/home/dmoseley/work
Where=/work
Type=none
Options=bind

[Install]
WantedBy=multi-user.target
